<vk-card hover>
  <h2 class="rpb">website template</h3>
  <p>
    <small>
      server-side website
    </small>
  </p>
  <p>
    this is a template for a kome.ga server-side website
  </p>
  <hr />
  <div uk-margin>
    <vk-button>Default</vk-button>
    <vk-button type="primary">Primary</vk-button>
    <vk-button type="secondary">Secondary</vk-button>
    <vk-button type="danger">Danger</vk-button>
  </div>
  <hr />
  <div uk-margin>
    <input class="uk-input" placeholder="input">
    <textarea class="uk-textarea" placeholder="textarea" rows="5"></textarea>

    <select class="uk-select">
      <option>Option 01</option>
      <option>Option 02</option>
    </select>

    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
      <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
      <label><input class="uk-radio" type="radio" name="radio2"> B</label>
    </div>

    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
      <label><input class="uk-checkbox" type="checkbox" checked> A</label>
      <label><input class="uk-checkbox" type="checkbox"> B</label>
    </div>

    <div class="uk-margin">
      <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
    </div>
  </div>
  <hr />
  <div class="uk-child-width-expand@s" uk-grid>
    <div>
      <vk-card hover class="uk-text-center">
        This is a card
      </vk-card>
    </div>

    <div>
      <vk-card hover type="primary" class="uk-text-center">
        This is a card
      </vk-card>
    </div>

    <div>
      <vk-card hover type="secondary" class="uk-text-center">
        This is a card
      </vk-card>
    </div>
  </div>
</vk-card>