<html>

<head>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
  <script crossorigin='anonymous' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <script src='/scripts/vuikit.min.js'></script>
  <script src='/scripts/vuikit-icons.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js'></script>
  <link href='/favicon.png' rel='icon' type='image/x-icon'>
  <link href='/assets/style.css' rel='stylesheet'>
  <title>title</title>
</head>

<body>
  <div id='app'>
    <%= yield %>
    <info></info>
  </div>
</body>
<script src='/scripts/main.js'></script>

</html>