@font-face {
  font-family: 'Input';
  src: url('regular.ttf')
}

@font-face {
  font-family: 'Input Italic';
  src: url('italic.ttf')
}

@font-face {
  font-family: 'Input Bold';
  src: url('bold.ttf')
}

@font-face {
  font-family: 'Input Bold Italic';
  src: url('.bold-italic.ttf')
}